{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="err"></div>
        <form method="POST">
            <input type="text" name="url" id="url">
            <input type="submit" value="Convert" name="linkSubmit" id="linkSubmit">
        </form>

        <h1>Your URL's:</h1>
        <ul id="list">
        </ul>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/hoot.js"></script>
{% endblock %}
